body {
  font-family: 'Raleway', sans-serif;
  color: #fff;
  background-image: url("image/aerial.jpg") ;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

div.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header {
  text-align: center;
}

header h1 {
  font-size: 2em;
  font-weight: 300;
}

header h2 {
  font-size: 4em;
  font-weight: 300;
}

#wrapper {
  width: 750px;
  height: 400px;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.button {
  padding: 15px 75px;
  background-color: #1481ba;
  border-radius: 50px;
  margin: 50px;
}

.help {
  margin: 50px;
}

.popup h1 {
  text-align: center;
  font-family: 'Raleway', sans-serif;
  background-color: blue;
  margin: 100px 0;
}

.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 35px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}

.button {
  font-size: 1em;
  padding: 15px 75px;
  color: #fff;
  border-radius: 50px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  background-color: #1481BA;
}

.button {
  background: #1481BA;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #1481ba;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
  color: black;
}